/* Default styling is for mobile */
body,
html {
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
}
/* I have no idea whether this is accurate or not, but I used this calculator to convert the px font-size to rem
https://nekocalc.com/px-to-rem-converter */

/* Revisit this. Need bottom image for mobile as well. Both top and bottom for larger screens, too. */
#body-top-mobile {
  background-image: url("./ProjectRequirements/image/bg-pattern-top-mobile.svg");
}

.component-container {
  display: grid;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  padding-top: 2.8rem;
}
h1 {
  font-size: 2.8em;
  line-height: 0.8;
}

.ratings {
  background-color: hsl(300, 24%, 96%);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.review-container {
  margin-top: 1rem;
  text-align: left;
}
.review-person {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.reviews {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
.reviews h4 {
  color: hsl(333, 80%, 67%);
  grid-column: 1/2;
  grid-row: 1/2;
}
.reviews img {
  border-radius: 100px;
  grid-column: 0/1;
  grid-row: 0/2;
}
.reviews h3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

footer {
  margin-top: 3rem;
  text-align: center;
}
